---
import { CV_DATA } from "../data/cv";
import Item from "./common/Item.astro";

const { education } = CV_DATA;
---

<section class="section-block">
  <h2 class="section-heading" id="education-section">Vzdělání</h2>
  {
    education.map((item) => (
      <Item
        title={item.title}
        description={item.description}
        link={item.link}
        start={item.start}
        end={item.end}
        badges={item.badges}
      />
    ))
  }
</section>
