---
import { Image } from "astro:assets";
import { CV_DATA } from "../data/cv";
import avatarImage from "../assets/avatar.jpeg";

const {
  name,
  about,
  summary,
  personalWebsiteUrl,
  contact,
  location,
  locationLink,
  work,
  projects,
  education,
  skills,
} = CV_DATA;
---

<main
  class="print-resume hidden print:block"
  id="print-content"
>
  <section
    class="mx-auto w-full max-w-2xl space-y-8 bg-white print:space-y-4"
    aria-label="CV Content Print"
  >
    <header class="flex items-center justify-between gap-6">
      <div class="flex-1 space-y-1.5">
        <h1 class="text-2xl font-bold" id="cv-name-print">{name}</h1>
        <p class="max-w-md text-pretty font-mono text-sm text-foreground/80 print:text-[12px]">
          {about}
        </p>
        <p class="max-w-md items-center text-pretty font-mono text-xs text-foreground">
          <a
            class="inline-flex gap-x-1.5 align-baseline leading-none hover:underline"
            href={locationLink}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={`Location: ${location}`}
          >
            <span>{location}</span>
          </a>
        </p>
        <div class="hidden gap-x-2 gap-y-1 font-mono text-sm text-foreground/80 print:flex print:flex-wrap print:text-[12px]">
          <a class="underline hover:text-foreground/70" href={personalWebsiteUrl}>
            {personalWebsiteUrl}
          </a>
          <span aria-hidden="true">|</span>
          <a class="underline hover:text-foreground/70" href={`mailto:${contact.email}`}>
            {contact.email}
          </a>
          <span aria-hidden="true">|</span>
          <a class="underline hover:text-foreground/70" href={contact.social[0].url}>
            {contact.social[0].url}
          </a>
          <span aria-hidden="true">|</span>
          <a class="underline hover:text-foreground/70" href={contact.social[1].url}>
            {contact.social[1].url}
          </a>
        </div>
      </div>
      <span
        class="relative flex size-28 shrink-0 overflow-hidden rounded-xl"
        aria-hidden="true"
      >
        <Image
          class="aspect-square h-full w-full"
          alt={`${name}'s profile picture`}
          src={avatarImage}
        />
      </span>
    </header>

    <div class="space-y-8 print:space-y-4">
      <section class="flex min-h-0 flex-col gap-y-3 print:gap-y-1">
        <h2 class="text-xl font-bold" id="about-section-print">O mně</h2>
        <div
          class="text-pretty font-mono text-sm text-foreground/80 print:text-[12px]"
          aria-labelledby="about-section-print"
        >
          {summary}
        </div>
      </section>

      <section class="flex min-h-0 flex-col gap-y-3 print:gap-y-1">
        <h2 class="text-xl font-bold" id="work-experience-print">Pracovní zkušenosti</h2>
        {
          work.map((item) => (
            <article role="article">
              <div class="rounded-lg bg-card py-1 text-card-foreground print:py-0">
                <div class="flex flex-col space-y-1.5 print:space-y-1">
                  <div class="flex items-center justify-between gap-x-2 text-base">
                    <h3 class="inline-flex items-center justify-center gap-x-1 font-semibold leading-none print:text-sm">
                      {
                        item.link ? (
                          <a
                            class="cursor-pointer hover:underline"
                            href={item.link}
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label={`${item.title} link`}
                          >
                            {item.title}
                          </a>
                        ) : (
                          <span>{item.title}</span>
                        )
                      }
                    </h3>
                    {
                      (item.start || item.end) && (
                        <div
                          class="text-sm tabular-nums text-gray-500"
                          aria-label={`Period: ${item.start ?? ""} to ${item.end ?? "Present"}`}
                        >
                          {item.start} {item.start && (item.end || item.end === null) && "-"}{" "}
                          {item.end ?? (item.start ? "Present" : "")}
                        </div>
                      )
                    }
                  </div>
                </div>
                <div class="text-pretty font-mono text-sm text-muted-foreground">
                  <div class="mt-2 text-pretty text-xm text-foreground/80 print:mt-1 print:text-[12px]">
                    {item.description}
                  </div>
                  {
                    item.badges && item.badges.length > 0 && (
                      <div class="mt-2">
                        <ul class="flex list-none flex-wrap gap-1 p-0" aria-label="Technologies used">
                          {item.badges.map((badge) => (
                            <li>
                              <div class="inline-flex items-center rounded-md bg-secondary px-2 py-0.5 align-middle text-xs font-mono font-semibold text-nowrap text-secondary-foreground print:px-1 print:py-0.5 print:text-[10px] print:leading-tight">
                                {badge}
                              </div>
                            </li>
                          ))}
                        </ul>
                      </div>
                    )
                  }
                </div>
              </div>
            </article>
          ))
        }
      </section>

      <section class="flex min-h-0 flex-col gap-y-3 print:gap-y-1">
        <h2 class="text-xl font-bold" id="projects-print">Projekty</h2>
        {
          projects.map((item) => (
            <article role="article">
              <div class="rounded-lg bg-card py-1 text-card-foreground print:py-0">
                <div class="flex flex-col space-y-1.5 print:space-y-1">
                  <div class="flex items-center justify-between gap-x-2 text-base">
                    <h3 class="inline-flex items-center justify-center gap-x-1 font-semibold leading-none print:text-sm">
                      {
                        item.link ? (
                          <a
                            class="cursor-pointer hover:underline"
                            href={item.link}
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label={`${item.title} link`}
                          >
                            {item.title}
                          </a>
                        ) : (
                          <span>{item.title}</span>
                        )
                      }
                    </h3>
                    {
                      (item.start || item.end) && (
                        <div
                          class="text-sm tabular-nums text-gray-500"
                          aria-label={`Period: ${item.start ?? ""} to ${item.end ?? "Present"}`}
                        >
                          {item.start} {item.start && (item.end || item.end === null) && "-"}{" "}
                          {item.end ?? (item.start ? "Present" : "")}
                        </div>
                      )
                    }
                  </div>
                </div>
                <div class="text-pretty font-mono text-sm text-muted-foreground">
                  <div class="mt-2 text-pretty text-xm text-foreground/80 print:mt-1 print:text-[12px]">
                    {item.description}
                  </div>
                  {
                    item.badges && item.badges.length > 0 && (
                      <div class="mt-2">
                        <ul class="flex list-none flex-wrap gap-1 p-0" aria-label="Technologies used">
                          {item.badges.map((badge) => (
                            <li>
                              <div class="inline-flex items-center rounded-md bg-secondary px-2 py-0.5 align-middle text-xs font-mono font-semibold text-nowrap text-secondary-foreground print:px-1 print:py-0.5 print:text-[10px] print:leading-tight">
                                {badge}
                              </div>
                            </li>
                          ))}
                        </ul>
                      </div>
                    )
                  }
                </div>
              </div>
            </article>
          ))
        }
      </section>

      <section class="flex min-h-0 flex-col gap-y-3 print:gap-y-1">
        <h2 class="text-xl font-bold" id="education-section-print">Vzdělání</h2>
        {
          education.map((item) => (
            <article role="article">
              <div class="rounded-lg bg-card py-1 text-card-foreground print:py-0">
                <div class="flex flex-col space-y-1.5 print:space-y-1">
                  <div class="flex items-center justify-between gap-x-2 text-base">
                    <h3 class="inline-flex items-center justify-center gap-x-1 font-semibold leading-none print:text-sm">
                      {
                        item.link ? (
                          <a
                            class="cursor-pointer hover:underline"
                            href={item.link}
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label={`${item.title} link`}
                          >
                            {item.title}
                          </a>
                        ) : (
                          <span>{item.title}</span>
                        )
                      }
                    </h3>
                    {
                      (item.start || item.end) && (
                        <div
                          class="text-sm tabular-nums text-gray-500"
                          aria-label={`Period: ${item.start ?? ""} to ${item.end ?? "Present"}`}
                        >
                          {item.start} {item.start && (item.end || item.end === null) && "-"}{" "}
                          {item.end ?? (item.start ? "Present" : "")}
                        </div>
                      )
                    }
                  </div>
                </div>
                <div class="text-pretty font-mono text-sm text-muted-foreground">
                  <div class="mt-2 text-pretty text-xm text-foreground/80 print:mt-1 print:text-[12px]">
                    {item.description}
                  </div>
                  {
                    item.badges && item.badges.length > 0 && (
                      <div class="mt-2">
                        <ul class="flex list-none flex-wrap gap-1 p-0" aria-label="Technologies used">
                          {item.badges.map((badge) => (
                            <li>
                              <div class="inline-flex items-center rounded-md bg-secondary px-2 py-0.5 align-middle text-xs font-mono font-semibold text-nowrap text-secondary-foreground print:px-1 print:py-0.5 print:text-[10px] print:leading-tight">
                                {badge}
                              </div>
                            </li>
                          ))}
                        </ul>
                      </div>
                    )
                  }
                </div>
              </div>
            </article>
          ))
        }
      </section>

      <section class="flex min-h-0 flex-col gap-y-3 print:gap-y-1">
        <h2 class="text-xl font-bold" id="skills-section-print">Dovednosti</h2>
        <ul class="flex list-none flex-wrap gap-1 p-0" aria-label="List of skills">
          {
            skills.map((skill) => (
              <li>
                <div class="inline-flex items-center rounded-md bg-primary/80 px-2 py-0.5 align-middle text-xs font-mono font-semibold text-nowrap text-primary-foreground print:text-[10px]">
                  {skill}
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </section>
</main>