---
import { CV_DATA } from "../data/cv";
import Item from "./common/Item.astro";

const { projects } = CV_DATA;
---

<section class="flex min-h-0 flex-col gap-y-3 print:gap-y-1">
  <h2 class="text-xl font-bold" id="projects">Projekty</h2>
  {
    projects.map((item) => (
      <Item
        title={item.title}
        description={item.description}
        link={item.link}
        start={item.start}
        end={item.end}
        badges={item.badges}
      />
    ))
  }
</section>
