---
import Badge from "./Badge.astro";

interface Props {
  title: string;
  description: string;
  link?: string;
  start?: string;
  end?: string | null;
  badges?: string[];
}

const { title, description, link, start, end, badges } = Astro.props;
const hasValidLink = link && link.trim().length > 0;
---

<article role="article">
  <div class="rounded-lg bg-card text-card-foreground py-1 print:py-0">
    <div class="flex flex-col space-y-1.5 print:space-y-1">
      <div class="flex items-center justify-between gap-x-2 text-base">
        <h3
          class="inline-flex items-center justify-center gap-x-1 font-semibold leading-none print:text-sm"
        >
          {
            hasValidLink ? (
              <a
                class="hover:underline cursor-pointer"
                href={link}
                target="_blank"
                rel="noopener noreferrer"
                aria-label={`${title} link`}
              >
                {title}
              </a>
            ) : (
              <span>{title}</span>
            )
          }
        </h3>
        {
          (start || end) && (
            <div
              class="text-sm tabular-nums text-gray-500"
              aria-label={`Period: ${start ?? ""} to ${end ?? "Present"}`}
            >
              {start} {start && (end || end === null) && "-"}{" "}
              {end ?? (start ? "Present" : "")}
            </div>
          )
        }
      </div>
    </div>
    <div class="text-pretty font-mono text-sm text-muted-foreground">
      <div
        class="mt-2 text-xm text-foreground/80 print:mt-1 print:text-[12px] text-pretty"
      >
        {description}
      </div>
      {
        badges && badges.length > 0 && (
          <div class="mt-2">
            <ul
              class="flex list-none flex-wrap gap-1 p-0"
              aria-label="Technologies used"
            >
              {badges.map((badge) => (
                <li>
                  <Badge variant="secondary">{badge}</Badge>
                </li>
              ))}
            </ul>
          </div>
        )
      }
    </div>
  </div>
</article>
